
<div id="modalConfirmation" class="modal card align-content-center" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titleModal"class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="msgModal" class="text-danger"></p>

                <div class="form-group">
                    <label id="txtModal"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal"/>
                <button id="btnConfirmar" type="button" class="btn btn-success"/>
            </div>
        </div>
    </div>
</div>

