@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>
        Este sistema foi desenvolvido por Carlos Henrique 
        <a href="https://www.linkedin.com/in/carlos-henrique-oliveira-dornelles-9043915a/">Carlos Henrique</a>
        e <a href="https://www.linkedin.com/in/luan-cunha-667b66220/">Luan Cunha</a>
    </p>

    <p>
        Com o intuito de estudar e aprender novas tecnologias!
    </p>
</div>
