@{
    ViewData["Title"] = "Privacy Policy";
}
 <link rel="stylesheet" href="~/l/bootstrap/dist/css/bootstrap.min.css" />
 <link rel="stylesheet" href="~/css/Privacy.css" asp-append-version="true" />
<div id = "loader" class="p-4">
    <span>Privacidade</span>
    <span>Privacidade</span>
</div>

<p>Use this page to detail your site's privacy policy.</p>

<input type="text" autocomplete="off" placeholder="Type your text" name="text" class="input" id="Teste1">

<div class="row"> 

</div>
